venv
.idea
.DS_Store
*.pyc
*.log
*.sqlite3
locals.py
*.db
*~
*.sock
*.pid
.project
/node_modules/*
.sass-cache
.DS_Store
*.settings
*.vscode
*.rdb
sass-loader
fabfile.py
*.key
sentry/data/postgres/
sentry/data/sentry/
.editorconfig
tmp/
*.xlsx
*.xls
*.dot
script.py
/__pycache__/

